<div class="popup">
    <div class="content w-100 h-100 overflow-auto">
        <div class="bg-white rounded-3 py-4 px-4 position-relative info m-auto my-5 w-25">
            <h2 class="h4 text-center mb-3">
                Idiomas
            </h2>
            <div class="d-flex flex-column gap-2">
                <button class="btn btn-primary" (click)="openMonedaDesdeHeader.emit()">
                                    algo
                </button>
                <button class="btn btn-primary">
                                    algo x2
                </button>
            </div>
        </div>
    </div>
</div>